ImportService/bin/**
CategorizationService/bin/**

# build
**/bin/
**/obj/

# tests
TestResults/
coverage/

# IDE
.idea/
.vs/
.vscode/
*.DotSettings.user

# user / system
*.user
*.suo
*.log
.DS_Store
Thumbs.db

# env / local config
.env
docker-compose.override.yml

# appsettings
appsettings.*.json
!appsettings.json

**/appsettings.Development.json
